<app-child-with-children-templates [title]="'Parent'">

  <app-child-template [show]="true" [title]="'First Child'">
    <app-child-with-children-templates [title]="'Child Parent'">
      <app-child-template [show]="true" [title]="'Child\'s Child'">
      </app-child-template>
    </app-child-with-children-templates>
  </app-child-template>

  <app-child-template [show]="true" [title]="'Second Child'">
    <app-child-with-children-templates [title]="'Second Child Parent'">
      <app-child-template [show]="true" [title]="'Second Child\'s Child'">
      </app-child-template>
    </app-child-with-children-templates>
  </app-child-template>

</app-child-with-children-templates>
